.main {
  color: #aa64bb;
  background-image: url("https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZzZuZ3Fmano3b3N5bHJ1NjRlM3BkZzFwazJnbmpxcDI2a3hydHVreiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3ov9k1173PdfJWRsoE/giphy.gif");
  background-size: cover;
  text-align: center;
}
/* Check later how to center with flex and margins */

.main__btn {
  color: #aa64bb;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 2px;
  padding: 5px 10px;
  font-weight: 800;
}
