body {
  color: whitesmoke;
  background-image: url("Images/moon.jpg");
  background-size: cover;
  text-align: center;
  font-family: "Orbitron", Arial, Helvetica, sans-serif;
}

/* Check later how to center with flex and margins */

.main__btn {
  font-family: inherit;
  background-color: aliceblue;
  border: 1px solid darkgray;
  border-radius: 2px;
  padding: 2px 8px;
}

/* @font-face {
  font-family: Varsity Valentine;
  src: url(Varsity\ Valentine.ttf);
}
.test {
  font-family: Varsity Valentine;
} */
/* Example how to use other sources of fonts --> practise.html */
